<!DOCTYPE html>
<html lang="es">
<head>
    <title>Cell Store</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="container">
        <h1>Cell Store</h1>

        <div class="navbar">
            <div>
                <h3 class="bloque">
                    <a href="../index.html">Inicio</a>
        
                    <a href="./about_we.html">Nosotros</a>
        
                    <a href="./contacts.html">Contactos</a>
        
                </h3>
            </div>
            
            <form action="#">
                
                <h3>Inicia:</h3>
        
                <input class="material-icons" type="email" placeholder="email">
                
                <br />
                <br />
        
                <input class="material-icons" type="password" placeholder="lock">
            </form>

        </div>

        <div>
            <img height="343" src="https://media.discordapp.net/attachments/780550623468191754/893334896985112607/Sin_titulo-1.jpg?width=1440&height=277" />
        </div>

        <br />

        <p>
            
                Somos una tienda de celulares móviles que cuenta con los mejores smartphones  en el mercado, nos hemos dedicado a buscar la mejor calidad para poder brindarte el mejor servicio, contamos con todo tipo de marcas y modelos en nuestra tienda, incluso contamos con una sección de de bajo costo para que todos tengamos la oportunidad de disfrutar de un  buen celular.
            

            <br />
            <br />
        </p>

        <div class="complex">
            <img src="https://media.discordapp.net/attachments/780550623468191754/893315282423144478/Smartphones.jpg?width=1202&height=676" />
        </div>

       
    </div>


</body>
</html>