<!DOCTYPE html>
<html lang="es">
<head>
    <title>Cell Store</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">

    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="container">
        <h1>Cell Store</h1>

        <div class="navbar">
            <div>
                <h3 class="bloque">
                    <a href="../index.html">Inicio</a>
        
                    <a href="./about_we.html">Nosotros</a>
        
                    <a href="./contacts.html">Contactos</a>
        
                </h3>
            </div>
            
            <form action="#">
                
                <h3>Inicia:</h3>
        
                <input class="material-icons" type="email" placeholder="email">
                
                <br />
                <br />
        
                <input class="material-icons" type="password" placeholder="lock">
            </form>

        </div>

        <div>
            <img height="343" src="https://media.discordapp.net/attachments/780550623468191754/893334896985112607/Sin_titulo-1.jpg?width=1440&height=277" />
        </div>

        <br />

        <div class="links_contacts">
            <h2>Comunicate con nosotros por estas vias:</h2>
        
            <label class="material-icons"> location_on </label>
            <label>Santo Domingo, Distrito Nacional, Av. Wiston Churchill, #254</label>

            <br />

            <label class="material-icons"> phone </label>
            <label>(809)738-4852 / (809)793-2557</label>
            <br />
            
            <label>Lunes - Viernes | 8:00 a.m. - 4:00 p.m. </label>

            <br />

            <label class="material-icons"> email </label>
            <label>infocellstore@gmail.com</label>

            
        </div>
       
    </div>


</body>
</html>